.navigation {
	width: 100%
	position:fixed;
	background-color: #019875;
}

.navIcon {
	overflow: hidden;
	text-align: center;
}

.navMain {
	background-color: #03A678;
	vertical-align: middle;
}

.navMain h2 {
	font-family: 'Titillium Web', sans-serif;
	margin-top: 10px;
}

.navIcon {
	height: 60px;
}

.navMain {
	height: 60px;
}

.navIcon img {
	height: 100%;
	margin: auto;
}

body {
	background-color: #ecf0f1;
}

.main {
	background-color: #ecf0f1;
	height:auto;
	padding-bottom: 70px;
}

.headerName{
	margin-top: 20px;
	width: 100%;
	text-align:center;
	font-family: 'Titillium Web';
	font-weight: 600;

}

.headerPicDiv {
	padding-top: 15px;
	width: 100%;
	text-align:center;
}

.meImage {
	height:100px;
	border-radius: 50%;
	border-color: #03A678;
	border-width: 10px;
}

.highlight {
	background-color: #03A678;
	margin-top:50px;
	margin-left:5%;
	height:350px;
	width: 90%;
	font-family: 'Titillium Web';
	font-weight: 400;
	font-size:13pt;
}

.dark {
	margin:none;
	color: #FFFFFF;
}

.light {
	margin:none;
}

.footer {
	width: 100%;
	background-color: #049372;
}

.highlightTitle {
	padding-top: 20px;
	font-weight: 600
}

.highlightInfo {
	padding-bottom: 20px;
}

.navRight ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navRight li {
    float: left;
}

.navRight li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navRight li a:hover {
    background-color: #111;
}

.sidr ul li {
	line-height: 100px;
}

.sidr ul li:hover {
	line-height: 100px;
	box-shadow: none;
}

.sidr {
	-webkit-box-shadow: inset -10px 0px 15px -4px rgba(0,0,0,0.19);
	moz-box-shadow: inset -10px 0px 15px -4px rgba(0,0,0,0.19);
	box-shadow: inset -10px 0px 15px -4px rgba(0,0,0,0.19);

}

.sidr ul li .glyphicon {
	padding-right: 15px;
}


.img_col {
	overflow: hidden;
	background-image: url("http://placehold.it/700x500");
	background-repeat: no-repeat;
	background-position: center;
}

.polisightImg {
	background-image: url("../img/polisight.jpg");
}

.rummageImg {
	background-image: url("../img/rummage.png");
	background-position: top left;
}

.atbImg {
	background-image: url("../img/atb.png");
}

@media (min-width: 768px) {
	.img_col {
		height: 350px;
	}
}

@media (max-width: 768px) {
	.img_col {
		height: 300px
	}

	.highlight {
		height: auto;
	}

}

.navWordsWrapper {
	float: center;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	font-family: 'Titillium Web';
	margin-top: 15px;
}

.navWordsWrapperSpan {
	width:100%;
}

.navigation a {
	color: #000000;
}

.navMain h2 {
	text-align: center;
}

.footer {
	background-color: #2c3e50; 
}

.navIcon {
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);

}

.navIcon:hover {
	color: #FFFFFF;
	background-color: #1E824C;
}

.footer .footerRight input {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	font: normal 16px/normal "Titillium";
	color: #000000;
	-o-text-overflow: clip;
	text-overflow: clip;
	background: #ecf0f1;
	-webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.2) inset;
	box-shadow: 0 0 0 0 rgba(0,0,0,0.2) inset;
	text-shadow: 0 0 0 rgba(255,255,255,0.66) ;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}


.footer .footerRight textarea {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	font: normal 16px/normal "Titillium";
	color: #000000;
	-o-text-overflow: clip;
	text-overflow: clip;
	background: #ecf0f1;
	-webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.2) inset;
	box-shadow: 0 0 0 0 rgba(0,0,0,0.2) inset;
	text-shadow: 0 0 0 rgba(255,255,255,0.66) ;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.networking_image {
	width: 60px;
	margin-left: 15px;
	opacity: 0.5
}

.networking_image:hover {
	opacity: 1;
	-webkit-transition: opacity 400ms linear;
	-moz-transition: opacity 400ms linear;
	-o-transition: opacity 400ms linear;
	-ms-transition: opacity 400ms linear;
	transition: opacity 400ms linear;
}

.footerLeft {
	padding-top: 60px;
	padding-left: 40px;
	padding-bottom: 60px;
	color: #FFFFFF;
}

.footerLeft a {
	color: #FFFFFF;
	text-decoration: none;
}

.footerLeft a:hover {
	text-decoration: none;
}

.footerLeft p {
	margin-bottom: 0px;
}

.footerSectionContainer {
	width: 100%;
	padding: 15px;
	background-color: #34495e;
	margin-bottom: 20px;
	font-family: "Titillium Web";
	float: right;
	max-width: 500px;
	text-align: center;
}

.footerSectionContainerRight {
	float: left;
	text-align: left;
}

.footerSectionContainerResume {
	height: 100%;
	margin-bottom: 0px;
}

.footerSectionContainerResume:hover {
	background-color: #9b59b6;
	-webkit-transition: background-color 400ms linear;
	-moz-transition: background-color 400ms linear;
	-o-transition: background-color 400ms linear;
	-ms-transition: background-color 400ms linear;
	transition: background-color 400ms linear;
}

.footerRight {
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 15px;
	padding-right: 40px;
	float: left;
}

.contactMe {
	color: white;
}

.formInputName {
	width: 46.7%
}

.formInputEmail {
	width: 46.7%;
	margin-left: 5%;
}

.formInputSubject {
	width: 99.99%;
}

.formInputMessage {
	width: 99.99%;
	min-height: 65px;
}

.contactMe {
	font-size: 20px;
	font-family: "Titillium Web"
}

.footer .footerRight .submit {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	font-family: Arial;
	color: #000000;
	font-size: 15px;
	background: #bdc3c7;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.footer .footerRight .submit:hover {
	background: #ecf0f1;
	text-decoration: none;
}

@media (max-width: 768px) {
	.footerSectionContainer {
		float: left;
		max-width: 1000000px;
	}

	.footerLeft {
		padding-left: 0px;
	}

	.footerRight {
		width: 
	}
}